<drawer-navigation
  class="dialog dialog--drawer dialog--drawer-shopper"
  hidden
  data-shopper
>
  <div role="document">
    <header data-dialog-element="header">
      <div class="nav-mobile__header">
        <button class="nav-mobile__header-prev js-nav-prev" aria-hidden="true">
          {%- render 'theme_icons' with 'chevron-left' -%}
          <span class="sr-only">Go back</span>
        </button>

        <div class="nav-mobile__header-current"><span class="js-nav-current" aria-hidden="true"></span></div>
      </div>
    </header>

    <div data-dialog-element="main">
      <nav class="nav-mobile js-mobile-navigation max-lg:text-primary">
        <ul class="nav-mobile__list js-nav-list">
          {%- for link in linklists[menu].links -%}
            <li class="nav-mobile__item nav-mobile__item--top lg:text-md{%- if link.links.size > 0 %} js-nav-submenu{%- endif -%}">
              {%- if link.links.size > 0 -%}
                <button class="nav-mobile__link nav-mobile__link--top js-nav-submenu-open" type="button">
                  <span>{{ link.title }}</span>
                  {%- render 'theme_icons' with 'chevron-right' -%}
                </button>

                <div class="o-row nav-mobile__submenu js-submenu">
                  {%- for child_link in link.links -%}
                    <ul class="nav-mobile__submenu-list text-secondary max-lg:text-primary">
                      <li class="font-bold text-primary">
                        {%- if child_link.links.size > 0 -%}
                          {{ child_link.title }}
                        {%- else -%}
                          <a class="nav-mobile__link" href="{{ child_link.url }}">
                            <span>{{- child_link.title -}}</span>
                          </a>
                        {%- endif -%}
                      </li>
                      {%- for grand_child_link in child_link.links -%}
                        <li class="nav-mobile__item">
                          <a class="nav-mobile__link" href="{{ grand_child_link.url }}">
                            <span>{{- grand_child_link.title -}}</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endfor -%}

                  {%- assign menu_menu_blocks = section.blocks | where: 'type', 'mega_menu' -%}
                  {%- for block in menu_menu_blocks -%}
                    {%- if block.settings.parent == link.title -%}
                      {%- for n in (1..3) -%}
                        {%- liquid
                          assign imageKey = 'image_' | append: n
                          assign titleKey = 'title_' | append: n
                          assign linkKey = 'link_' | append: n
                          # Make sure there is an image added in CMS
                          unless block.settings[imageKey]
                            continue
                          endunless
                        -%}
                        <div class="nav-mobile__submenu-block" {{ block.shopify_attributes }}>
                          {%- render 'object_image' with block.settings[imageKey],
                            width: 402,
                            height: 420,
                            aspect: '1 / 1'
                          -%}

                          {%- if block.settings[titleKey] != blank -%}
                            <a class="text-md font-bold text-primary" href="{{ block.settings[linkKey] }}">
                              {%- liquid
                                echo block.settings[titleKey]
                                render 'theme_icons' with 'chevron-right', width: 14, height: 14
                              -%}
                            </a>
                          {%- endif -%}
                        </div>
                      {%- endfor -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              {%- else -%}
                <a class="nav-mobile__link nav-mobile__link--top" href="{{ link.url }}">
                  <span>{{- link.title -}}</span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </div>
</drawer-navigation>
