<style>
    {% comment %}
    This is just to get a POC finished. I know naughty Steve...
    Im going to move this into a Shopify app anyway...
    So its fine...maybe :D
  {% endcomment %}
    .grid-overlap {
      grid-area: 1 / 1;
    }
    .predictive-search {
      width: calc(100% - 1.6rem);
      margin: 0 0.8rem;
      border: 1px solid var(--c-border-light);
      border-radius: 5px;
      padding: 0 1.6rem;
    }
</style>
<header class="flex justify-end px-4 py-2">
  <button onclick="closeSearch()">
    {%- render 'theme_icons' with 'close', width: 29, height: 29 -%}
    <span class="sr-only"> close </span>
  </button>
</header>
<form
  is="predictive-search"
  id="HeaderSearchForm"
  isPredictive
  action="{{ routes.search_url }}"
  method="get"
  role="search"
  class="relative grid px-2"
  data-loading-text="{{ 'global.accessibility.loading' | t }}"
>
  <input type="hidden" name="resources[limit]" value="{{ settings.predictive_search_limit }}">
  <input type="hidden" name="resources[options][prefix]" value="last">

  <label class="o-input grid-overlap grid text-sm" data-field="input" for="Search-In-Modal-1">
    <input
      class="o-input__field o-input__field--narrow text-lg"
      id="Search-In-Modal-1"
      type="search"
      name="q"
      placeholder="{{ 'sections.header.search_form.placeholder' | t }}"
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
      autocorrect="off"
      autocomplete="off"
      autocapitalize="off"
      spellcheck="false"
    >
    <span class="sr-only">
      {{- 'sections.header.search_form.placeholder' | t -}}
    </span>
  </label>

  <button
    hidden
    type="reset"
    class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
    aria-label="{{ 'global.accessibility.reset' | t }}"
  >
    <svg class="icon icon-close" aria-hidden="true" focusable="false">
      <use xlink:href="#icon-reset">
    </svg>
  </button>

  <button type="submit" class="grid-overlap isolate items-center justify-self-end p-2">
    {%- render 'theme_icons' with 'search', width: 29, height: 29 -%}
    <span class="sr-only">{{- 'sections.header.search_form.submit' | t -}}</span>
  </button>
</form>
<script>
  function closeSearch() {
    if (window.webkit)
      window.webkit.messageHandlers.webViewBridge.postMessage(JSON.stringify({ event: 'closeWindow', value: true }));
  }
</script>
