{%- comment -%}
  -------------------------------------------------------------------------------
  Form - New Address
  -------------------------------------------------------------------------------
  Accepts
  - customer: {Object} the customer object we're targetting to apply the new
    address to (required)
  - class: {Object/String} additional classes (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'form_account-address-new', customer: customer -%}
  -------------------------------------------------------------------------------
  Description
  Renders a new address form
{%- endcomment -%}

{%- assign class = class | prepend: 'form js-address-form-new ' -%}

{%- form 'customer_address', customer.new_address, class: class -%}
  <ul class="form__fields">
    <li class="form__field">
      <label
        class="o-input"
        for="AddressFirstNameNew"
      >
        <input
          class="o-input__field"
          type="text"
          placeholder="{{ 'global.forms.structure.first_name.placeholder' | t }}*"
          id="AddressFirstNameNew"
          name="address[first_name]"
          value="{{ form.first_name }}"
          autocomplete="given-name"
          aria-required="true"
          required
        >
        <span class="sr-only">{{ 'global.forms.structure.first_name.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressLastNameNew"
      >
        <input
          class="o-input__field"
          type="text"
          placeholder="{{ 'global.forms.structure.last_name.placeholder' | t }}*"
          id="AddressLastNameNew"
          name="address[last_name]"
          value="{{ form.last_name }}"
          autocomplete="family-name"
          aria-required="true"
          required
        >
        <span class="sr-only">{{ 'global.forms.structure.last_name.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressCompanyNew"
      >
        <input
          class="o-input__field"
          type="text"
          placeholder="{{ 'global.forms.structure.company.placeholder' | t }}"
          id="AddressCompanyNew"
          name="address[company]"
          value="{{ form.company }}"
          autocomplete="organization"
        >
        <span class="sr-only">{{ 'global.forms.structure.company.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressAddress1New"
      >
        <input
          class="o-input__field"
          type="text"
          placeholder="{{ 'global.forms.structure.address1.placeholder' | t }}*"
          id="AddressAddress1New"
          name="address[address1]"
          value="{{ form.address1 }}"
          autocomplete="address-line1"
          aria-required="true"
          required
        >
        <span class="sr-only">{{ 'global.forms.structure.address1.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressAddress2New"
      >
        <input
          class="o-input__field"
          type="text"
          placeholder="{{ 'global.forms.structure.address2.placeholder' | t }}"
          id="AddressAddress2New"
          name="address[address2]"
          value="{{ form.address2 }}"
          autocomplete="address-line2"
        >
        <span class="sr-only">{{ 'global.forms.structure.address2.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressCityNew"
      >
        <input
          class="o-input__field"
          type="text"
          placeholder="{{ 'global.forms.structure.city.placeholder' | t }}*"
          id="AddressCityNew"
          name="address[city]"
          value="{{ form.city }}"
          autocomplete="address-level2"
          aria-required="true"
          required
        >
        <span class="sr-only">{{ 'global.forms.structure.city.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressCountryNew"
      >
        {%- assign country_translation = 'global.forms.structure.country.placeholder' | t | append: '*' -%}
        <select
          class="o-input__field js-address-country-selector"
          id="AddressCountryNew"
          name="address[country]"
          autocomplete="country"
          aria-required="true"
          data-initial-value="{{ country_translation }}"
          required
        >
          {{ country_option_tags | replace: '---', country_translation }}
        </select>
        <span class="sr-only">{{ 'global.forms.structure.country.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="hidden o-input js-address-province-wrapper"
        for="AddressProvinceNew"
      >
        <select
          id="AddressProvinceNew"
          class="o-input__field js-address-province-selector"
          name="address[province]"
          autocomplete="address-level1"
        ></select>
        <span class="sr-only">{{ 'global.forms.structure.province.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressZipNew"
      >
        <input
          class="o-input__field js-address-zip"
          type="text"
          placeholder="{{ 'global.forms.structure.zip.placeholder' | t }}*"
          id="AddressZipNew"
          name="address[zip]"
          value="{{ form.zip }}"
          autocapitalize="characters"
          autocomplete="postal-code"
          aria-required="true"
          required
        >
        <span class="sr-only">{{ 'global.forms.structure.zip.label' | t }}</span>
      </label>

      <span class="absolute hidden text-sm -translate-y-1/2 text-validation-error top-1/2 right-5 js-address-zip-error">
        {{- 'global.forms.structure.zip.error' | t -}}
      </span>
    </li>

    <li class="form__field">
      <label
        class="o-input"
        for="AddressPhoneNew"
      >
        <input
          class="o-input__field"
          type="tel"
          pattern="[0-9]+"
          placeholder="{{ 'global.forms.structure.phone.placeholder' | t }}*"
          id="AddressPhoneNew"
          name="address[phone]"
          value="{{ form.phone }}"
          autocomplete="tel"
        >
        <span class="sr-only">{{ 'global.forms.structure.phone.label' | t }}</span>
      </label>
    </li>

    <li class="form__field">
      <div class="py-4 o-input o-input--wrap">
        {{- form.set_as_default_checkbox | replace: '<input', '<input class="o-input__checkbox" ' -}}
        <label
          class="cursor-pointer select-none hover:underline underline-offset-4"
          for="address_default_address_new"
        >
          {{- 'global.forms.structure.set_default.label' | t -}}
        </label>
      </div>
    </li>

    <li class="form__field">
      <div class="flex flex-col w-full gap-2 lg:flex-row">
        {%- # Disabled to validate the postcode within AddressDirectory.ts -%}
        <button
          class="o-button o-button--primary o-button--full js-address-new-add-button"
          type="submit"
          disabled
        >
          {{- 'snippets.form.account_address_new.add' | t -}}
        </button>
        <button
          class="o-button o-button--secondary o-button--full js-address-new-cancel-button"
          type="button"
        >
          {{- 'snippets.form.account_address_new.cancel' | t -}}
        </button>
      </div>
    </li>
  </ul>
{%- endform -%}
