{%- comment -%}
  -------------------------------------------------------------------------------
  Form - Reset Password
  -------------------------------------------------------------------------------
  Accepts
  - class {Object/String} additional classes (optional)
  - title {Object/String} the form title (optional)
  - text {Object/String} text describing the form (optional)
  - submit_button_style {Object/String} the submission button style,
    (primary, secondary, etc) (optional)
  - cancel_button_style {Object/String} the cancel button style,
    (primary, secondary, etc) (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'form_account-reset-password',
    class: 'text-md',
    title: 'Reset Password Form',
    text: 'Reset your password by providing your email address',
    submit_button_style: 'primary',
    cancel_button_style: 'secondary'
  -%}
  -------------------------------------------------------------------------------
  Description
  The site's reset password form.
{%- endcomment -%}

{%- liquid
  assign class = class | prepend: 'form ' | strip
  assign submit_button_style = submit_button_style | default: 'primary'
  assign cancel_button_style = cancel_button_style | default: 'secondary'

  if title contains ' | t'
    assign title = title | replace: ' | t' | t
  endif

  if text contains ' | t'
    assign text = text | replace: ' | t' | t
  endif
-%}

{% form 'reset_customer_password', class: class, id: 'ResetPasswordForm' %}
  {%- if title or text -%}
    <header class="form__header">
      {%- if title -%}
        {%- if request.page_type contains 'customers' -%}
          <h2 class="text-2xl font-bold font-heading">
            {{- title -}}
          </h2>
        {%- else -%}
          <p class="font-bold font-heading">
            {{- title -}}
          </p>
        {%- endif -%}
      {%- endif -%}

      {%- if text -%}
        <p class="{% unless request.page_type contains 'customers' %}text-md text-text-section-secondary{% endunless %}">
          {{- text -}}
        </p>
      {%- endif -%}
    </header>
  {%- endif -%}

  <ul class="form__fields">
    <li class="form__field">
      <label class="o-input{%- if form.errors %} o-input--error{%- endif -%}" data-field="input">
        <span class="sr-only">{{ 'global.forms.structure.password.label' | t }}</span>

        <input
          id="Password"
          class="o-input__field"
          name="customer[password]"
          type="password"
          autocomplete="new-password"
          placeholder="{{ 'global.forms.structure.password.placeholder' | t }}"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="Password-error"
          {% endif %}
        >

        {%- if form.errors contains 'password' -%}
          <small id="Password-error" class="o-input__error">
            {%- render 'theme_icons' with 'error', width: 16, height: 16, class: 'stroke-validation-error' -%}
            {{- form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password -}}
          </small>
        {%- endif -%}
      </label>
    </li>

    <li class="form__field">
      <label class="o-input{%- if form.errors %} o-input--error{%- endif -%}" data-field="input">
        <span class="sr-only">{{ 'global.forms.structure.confirm_password.label' | t }}</span>

        <input
          id="PasswordConfirmation"
          class="o-input__field"
          name="customer[password_confirmation]"
          type="password"
          autocomplete="new-password"
          placeholder="{{ 'global.forms.structure.confirm_password.placeholder' | t }}"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordConfirmation-error"
          {% endif %}
        >

        {%- if form.errors contains 'password_confirmation' -%}
          <small id="PasswordConfirmation-error" class="o-input__error">
            {%- render 'theme_icons' with 'error', width: 16, height: 16, class: 'stroke-validation-error' -%}
            {{- form.errors.translated_fields.password_confirmation | capitalize }}
            {{ form.errors.messages.password_confirmation -}}
          </small>
        {%- endif -%}
      </label>
    </li>
  </ul>

  <div class="form__footer">
    <button
      class="o-button o-button--{{ submit_button_style }} o-button--full text-md justify-center"
      type="submit"
    >
      {{- 'snippets.form.account_reset_password.submit' | t -}}
    </button>

    <a
      class="o-button o-button--{{ cancel_button_style }} o-button--full text-md justify-center"
      href="{{ routes.account_login_url }}"
    >
      {{- 'snippets.form.account_reset_password.cancel' | t -}}
    </a>
  </div>
{% endform %}
