{%- comment -%}
  -------------------------------------------------------------------------------
  Form - Forgot Password
  -------------------------------------------------------------------------------
  Accepts
  - class {Object/String} additional classes (optional)
  - title {Object/String} the form title (optional)
  - text {Object/String} text describing the form (optional)
  - submit_button_style {Object/String} the submission button style,
    (primary, secondary, etc) (optional)
  - login_button_style {Object/String} the login form trigger button style,
    (primary, secondary, etc) (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'form_forgot-password',
    class: 'text-md',
    title: 'Forgot Password Form',
    text: 'Enter your email below to reset your password',
    submit_button_style: 'primary',
    login_button_style: 'secondary'
  -%}
  -------------------------------------------------------------------------------
  Description
  The site's forgot password form.
{%- endcomment -%}

{%- liquid
  assign class = class | prepend: 'form ' | strip
  assign submit_button_style = submit_button_style | default: 'primary'
  assign login_button_style = login_button_style | default: 'underline'

  if title contains ' | t'
    assign title = title | replace: ' | t' | t
  endif

  if text contains ' | t'
    assign text = text | replace: ' | t' | t
  endif

  if hidden == null
    assign hidden = true
  endif
-%}

{% form 'recover_customer_password', class: class, id: 'ForgotPasswordForm', hidden: hidden %}
  {%- if title or text -%}
    <header class="form__header">
      {%- if title -%}
        {%- if request.page_type contains 'customers' -%}
          <h2 class="text-2xl font-bold font-heading">
            {{- title -}}
          </h2>
        {%- else -%}
          <p class="font-bold font-heading">
            {{- title -}}
          </p>
        {%- endif -%}
      {%- endif -%}

      {%- if text -%}
        <p class="{% unless request.page_type contains 'customers' %}text-md text-text-section-secondary{% endunless %}">
          {{- text -}}
        </p>
      {%- endif -%}
    </header>
  {%- endif -%}

  <ul class="form__fields">
    <li class="form__field">
      {%- if form.posted_successfully? -%}
        <h3 class="flex gap-1 mb-4 text-validation-success" tabindex="-1" autofocus>
          {%- render 'theme_icons' with 'check-circle', width: 16, height: 16 -%}
          {{- 'snippets.form.account_forgot_password.success' | t -}}
        </h3>
      {%- endif -%}
    </li>

    <li class="form__field">
      <label class="o-input{%- if form.errors %} o-input--error{%- endif -%}" data-field="input">
        <span class="sr-only">
          {{- 'global.forms.structure.email.label' | t -}}
        </span>

        <input
          id="ForgotEmail"
          class="o-input__field"
          name="email"
          type="email"
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          required
          aria-required="true"
          placeholder="{{ 'global.forms.structure.email.placeholder' | t }}"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="ForgotPasswordEmail-email-error"
            autofocus
          {% endif %}
        >

        {%- if form.errors -%}
          <small id="ForgotPasswordEmail-email-error" class="o-input__error">
            {%- render 'theme_icons' with 'error', width: 16, height: 16, class: 'stroke-validation-error' -%}
            {{- form.errors.messages.form -}}
          </small>
        {%- endif -%}
      </label>
    </li>
  </ul>

  <div class="form__footer">
    <button
      class="o-button o-button--{{ submit_button_style }} o-button--full justify-center text-md"
      type="submit"
    >
      {{- 'snippets.form.account_forgot_password.submit' | t -}}
    </button>

    <a
      class="o-button o-button--{{ login_button_style }} o-button--full justify-center text-md"
      href="#login"
      onclick="return Shopify.theme.showLoginForm();"
    >
      {{- 'snippets.form.account_forgot_password.cancel' | t -}}
    </a>
  </div>
{% endform %}
