{%- if settings.enable_markets -%}
  {%- liquid
    assign defaultMarket = null
    assign currentMarket = null

    for block in section.blocks
      if block.settings.country_codes contains localization.country.iso_code
        assign currentMarket = block.settings
        break
      endif
      if block.settings.code == section.settings.default_market
        assign defaultMarket = block.settings
      endif
    endfor

    assign currentMarket = currentMarket | default: defaultMarket | default: section.blocks[0].settings
  -%}

  {%- if currentMarket.code != blank -%}
    <script type="module">
      const buttonHTML = `
        <img
          class="object-cover rounded-full aspect-square"§§§§§
          src="https://cdn.shopify.com/static/images/flags/{{- currentMarket.code | downcase -}}.svg"
          loading="lazy"
          width="18"
          height="18"
          alt=""
        />
        <span>{{- currentMarket.code -}}</span>
        <span class="sr-only">{{- 'global.dialogs.accessibility.actions.open' | t: dialog: 'markets' -}}</span>
      `;

      const elTriggers = document.querySelectorAll('[is="dialog-trigger"][dialog-selector="#ModalMarkets"]');
      for (const elTrigger of elTriggers) {
        elTrigger.insertAdjacentHTML('afterbegin', buttonHTML);
      }
    </script>

    <dialog-element
      id="ModalMarkets"
      class="dialog dialog--modal"
      modal-style="mega"
      hidden
    {% if section.settings.testing %}data-testing{% endif %}
    >
      <div
        class="dialog-overlay"
        data-a11y-dialog-hide
      ></div>

      <div role="document">
        <header data-dialog-element="header">
          <button
            data-dialog-element="close"
            type="button"
            tabindex="-1"
            data-a11y-dialog-hide
          >
            {%- render 'theme_icons' with 'close' -%}
            <span class="sr-only">{{- 'global.dialogs.accessibility.actions.close' | t: dialog: 'markets' -}}</span>
          </button>
        </header>

        <div data-dialog-element="main">
          <div class="flex flex-col items-center p-8 text-center gap-y-1 text-md md:p-9">
            <img
              class="object-cover rounded-full mb-6 aspect-square md:w-[200px] js-lazyload"
              data-src="https://cdn.shopify.com/static/images/flags/{{ currentMarket.code | downcase }}.svg"
              loading="eager"
              width="138"
              height="138"
              alt=""
            >
            <p>{{- 'sections.dialog_modal_markets.markets.current' | t: market_name: currentMarket.title -}}</p>
            <button class="font-semibold o-button" data-a11y-dialog-hide>
              {{- 'sections.dialog_modal_markets.markets.continue_button' | t: market_code: currentMarket.code -}}
              {%- render 'theme_icons' with 'chevron-right', width: 16, height: 16 -%}
            </button>
          </div>

          {% if section.blocks.size > 1 %}
            <hr class="o-hr" role="presentation">

            <div class="flex flex-col items-center p-8 font-bold text-center uppercase gap-y-6 tracking-1 md:p-9">
              <p>{{- 'sections.dialog_modal_markets.markets.alternative_text' | t -}}</p>
              <ul class="grid grid-cols-2 md:grid-cols-3 justify-items-center gap-x-8 md:gap-x-11 gap-y-4">
                {%- for block in section.blocks -%}
                  {%- liquid
                    if block.settings.image
                      assign imageSrc = block.settings.image | image_url: width: 32, height: 32
                    else
                      assign imageSrc = block.settings.code | downcase | prepend: 'https://cdn.shopify.com/static/images/flags/' | append: '.svg'
                    endif
                  -%}

                  <li class="flex">
                    <a class="o-button gap-x-4" href="{{ block.settings.domain }}">
                      <img
                        class="object-cover rounded-full aspect-square js-lazyload"
                        loading="eager"
                        data-src="{{ imageSrc }}"
                        width="32"
                        height="32"
                        alt=""
                      >
                      <span>
                        {{- block.settings.code }}
                        {% if block.settings.currency != empty %}
                          ({{ block.settings.currency }})
                        {% endif %}
                      </span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </dialog-element>
  {%- endif -%}
{%- endif -%}
