<div class="header__main text-grey-40">
  {%- if settings.enable_markets -%}
    <button
      is="dialog-trigger"
      dialog-selector="#ModalMarkets"
      class="header__language o-button items-center gap-x-2"
    ></button>
  {%- endif -%}

  <button
    is="dialog-trigger"
    dialog-selector="#DrawerNavigation"
    class="header__burger o-button js-nav-open items-center gap-x-2"
  >
    {%- render 'theme_icons' with 'hamburger' -%}
    <span class="sr-only">{{- 'global.dialogs.accessibility.actions.open' | t: dialog: 'navigation' -}}</span>
  </button>

  <a class="header__logo" href="{{ routes.root_url }}">
    {%- liquid
      if section.settings.brand_image != blank or section.settings.brand_logo != blank
        render 'theme_brand-logos', target: section, preload: true, height: 100
      endif
    -%}
    <span class="sr-only">{{ shop.name }}</span>
  </a>

  <div class="header__functions">
    {%- liquid
      case settings.sitewide_search_method
        when 'standard'
          render 'header_predictive-search'
        when 'klevu'
          render 'klevu_quick-search-trigger-mobile'
          render 'klevu_quick-search-trigger-desktop'
      endcase
    -%}

    <a
      class="hidden lg:flex lg:items-center lg:justify-center"
      href="{{ routes.account_url }}"
      {%- if customer == null %}
        onclick="return DrawerAccount.show()"
      {%- endif -%}
    >
      {%- render 'theme_icons' with 'user', width: 20, height: 20 -%}
      <span class="sr-only">{{- 'global.dialogs.accessibility.actions.open' | t: dialog: 'account' -}}</span>
    </a>

    <a
      href="{{ routes.cart_url }}"
      onclick="return DrawerCart.show();"
      class="text-highlight"
    >
      {%- render 'theme_icons' with 'shopping-bag' -%}
      <span
        class="-ml-2 flex h-4 w-4 shrink-0 -translate-x-[2px] -translate-y-1 items-center justify-center rounded-full bg-highlight text-center text-2xs font-bold text-white"
      >
        {%- render 'cart_item-count' -%}
      </span>
      <span class="sr-only">{{- 'global.dialogs.accessibility.actions.open' | t: dialog: 'cart' -}}</span>
    </a>

    {%- if settings.sitewide_search_method == 'standard' -%}
      <div
        class="js-search-overlay pointer-events-none fixed inset-header-group z-1 h-screen-d-minus-header bg-overlay opacity-0 transition-opacity duration-700"
      ></div>
    {%- endif -%}
  </div>

  <div class="header__nav">
    {%- render 'header_nav-desktop' -%}
  </div>
</div>

{%- liquid
  if settings.sitewide_search_method == 'klevu'
    render 'klevu_quick-search'
  endif
-%}
