{%- render 'section_spacing-and-color', set_padding: false, section: section -%}

<div
  class="flex flex-col items-center lg:grid lg:grid-cols-12 lg:gap-auto border-y border-solid-border-border-light"
  id="main-cart"
>
  <header
    class="flex flex-col items-center justify-center w-full h-full col-span-full py-18 js-cart-header"
    {% if cart != empty %}
      hidden
    {% endif %}
  >
    <h2 class="mb-6 text-4xl font-extrabold leading-1 -tracking-2 font-heading">
      {{- 'sections.main_cart.empty' | t -}}
    </h2>
    {%- render 'object_ctas', settings: section.settings, class: 'justify-center', size_mob: 'medium' -%}
  </header>

  {%- # Items -%}
  <div
    class="h-full py-8 max-lg:w-full lg:col-span-7 px-row lg:pl-row lg:pr-gap lg:py-11 js-cart-items"
    {% if cart == empty %}
      hidden
    {% endif %}
  >
    <h1 class="mb-2 text-3xl font-extrabold leading-1 -tracking-2 font-heading">
      {{- 'sections.main_cart.title' | t -}}
    </h1>

    <p class="mb-6 text-md">
      {%- # Item Count -%}
      {%- render 'object_count',
        count: cart.item_count,
        results_one: 'sections.main_cart.item_count.one | t',
        results_other: 'sections.main_cart.item_count.other | t',
      -%}
    </p>

    <cart-items>
      <form
        action="{{ routes.cart_url }}"
        id="Cart-Form"
        method="post"
      >
        <div id="Cart-CartItems" data-id="{{ section.id }}">
          {%- if cart != empty -%}
            <table role="table" class="w-full">
              <thead role="rowgroup">
                <tr role="row">
                  <th id="Cart-ColumnProductImage" role="columnheader">
                    <span class="sr-only">{{- 'sections.main_cart.items.headings.image' | t -}}</span>
                  </th>
                  <th id="Cart-ColumnProduct" scope="col" role="columnheader">
                    <span class="sr-only">{{- 'sections.main_cart.items.headings.product' | t -}}</span>
                  </th>
                  <th id="Cart-ColumnTotal" scope="col" role="columnheader">
                    <span class="sr-only">{{- 'sections.main_cart.items.headings.total' | t -}}</span>
                  </th>
                  <th id="Cart-ColumnQuantity" role="columnheader">
                    <span class="sr-only">{{- 'sections.main_cart.items.headings.quantity' | t -}}</span>
                  </th>
                  <th id="Cart-ColumnRemove" role="columnheader">
                    <span class="sr-only">{{- 'sections.main_cart.items.headings.remove' | t -}}</span>
                  </th>
                </tr>
              </thead>

              <tbody role="rowgroup">
                {%- for item in cart.items -%}
                  <tr id="Cart-Item-{{ item.index | plus: 1 }}" class="p-6 cart-item mb-7 last:mb-0" role="row">
                    <td class="relative cart-item__media" role="cell" headers="Cart-ColumnProductImage">
                      {%- if item.image -%}
                        <a href="{{ item.url }}" class="absolute inset-0" tabindex="-1" aria-hidden="true"> </a>
                        <img
                          src="{{ item.image | image_url: width: 192 }}"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="128"
                          height="128"
                          class="object-contain aspect-square"
                        >
                      {%- endif -%}
                    </td>

                    <td class="cart-item__details text-md" role="cell" headers="Cart-ColumnProduct">
                      <a href="{{ item.url }}" class="text-base font-bold cart-item__name lg:text-lg">
                        {{- item.product.title | escape -}}
                      </a>

                      {%- if item.product.has_only_default_variant == false or item.properties != blank -%}
                        <dl class="section-text-secondary">
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              <dt class="sr-only">{{ option.name }}:</dt>
                              <dd class="inline">
                                {{ option.value -}}
                                {%- unless forloop.last %}
                                  <span aria-hidden="true">/</span>
                                {% endunless %}
                              </dd>
                            {%- endfor -%}
                          {%- endif -%}

                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <div>
                                <dt class="inline">{{ property.first }}:</dt>
                                <dd class="inline">{{ property.last }}</dd>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </dl>
                      {%- endif -%}

                      {%- if item.selling_plan_allocation != null -%}
                        <p>{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}

                      {%- if item.discounts.size != blank and item.discounts.size != 0 -%}
                        <ul
                          class="text-secondary"
                          aria-label="{{- 'sections.main_cart.items.headings.discounts' | t -}}"
                        >
                          {%- for discount in item.discounts -%}
                            <li class="flex items-center gap-x-1">
                              {%- render 'theme_icons' with 'discount', class: 'stroke-current' -%}
                              {{ discount.title }}
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}

                      <div
                        class="hidden text-xs max-w-[20rem] text-validation-error gap-x-1"
                        id="Cart-LineItemError-{{ item.index | plus: 1 }}"
                        role="alert"
                      >
                        <span class="order-1 peer"></span>
                        <span class="inline-flex flex-shrink-0 pt-[2px] peer-empty:hidden">
                          {%- render 'theme_icons' with 'error', width: 12, height: 12, class: 'stroke-validation-error' -%}
                        </span>
                      </div>
                    </td>

                    <td
                      class="relative flex items-center justify-end cart-item__totals"
                      role="cell"
                      headers="Cart-ColumnTotal"
                    >
                      <div class="hidden loading-overlay">
                        <div class="loading-overlay__spinner">
                          {%- render 'theme_icons' with 'loading', class: 'stroke-current' -%}
                        </div>
                      </div>

                      <div class="flex flex-col text-base leading-none gap-y-1">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <span class="sr-only">{{- 'global.products.prices.regular_price' | t -}}</span>
                          <s class="text-secondary">{{- item.original_line_price | money -}}</s>
                          <span class="sr-only">{{- 'global.products.prices.sale_price' | t -}}</span>
                          <span class="font-bold">{{- item.final_line_price | money -}}</span>
                        {%- else -%}
                          <span class="font-bold">{{- item.original_line_price | money -}}</span>
                        {%- endif -%}
                      </div>
                    </td>

                    <td class="flex justify-end cart-item__quantity" role="cell" headers="Cart-ColumnQuantity">
                      <quantity-input class="quantity-input quantity-input--small">
                        <button name="minus">
                          <span class="sr-only">
                            {{- 'global.accessibility.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          {%- render 'theme_icons' with 'minus',
                            width: 16,
                            height: 16,
                            class: 'max-lg:w-4 stroke-current'
                          -%}
                        </button>
                        <input
                          id="Quantity-{{ item.index | plus: 1 }}"
                          type="number"
                          data-quantity-variant-id="{{ item.variant.id }}"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                          min="{{ item.variant.quantity_rule.min }}"
                          {% if item.variant.quantity_rule.max != null %}
                            max="{{ item.variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ item.variant.quantity_rule.increment }}"
                          aria-label="{{ 'global.accessibility.quantity.input_label' | t: product: item.product.title | escape }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        <button name="plus">
                          <span class="sr-only">
                            {{- 'global.accessibility.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          {%- render 'theme_icons' with 'plus',
                            width: 16,
                            height: 16,
                            class: 'max-lg:w-4 stroke-current'
                          -%}
                        </button>
                      </quantity-input>
                    </td>

                    <td
                      class="inline-flex justify-end cart-item__remove"
                      role="cell"
                      headers="Cart-ColumnRemove"
                    >
                      {%- liquid
                        capture remove_button_bg
                          if section.settings.background_color != 'rgba(0,0,0,0)'
                            echo section.settings.background_color
                          else
                            echo '#fff'
                          endif
                        endcapture
                      -%}

                      <button
                        is="remove-cart-item"
                        type="button"
                        id="Cart-Remove-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                        class="absolute flex items-center justify-center bg-current border border-solid rounded-full cursor-pointer -top-3 -right-3 w-7 h-7 border-border-light shadow-1 hover:shadow-2"
                        style="background-color: {{ remove_button_bg }}"
                        aria-label="{{- 'sections.main_cart.remove_title' | t: title: item.title -}}"
                      >
                        {%- render 'theme_icons' with 'close', class: 'stroke-current block', width: 14, height: 14 -%}
                      </button>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}

          <p id="Cart-LiveRegionText" class="sr-only" role="status"></p>
          <p id="Cart-LineItemStatus" class="sr-only" aria-hidden="true" role="status">
            {{- 'global.accessibility.loading' | t -}}
          </p>
        </div>
        <div class="mb-6 text-validation-error text-md empty:hidden" id="Cart-CartErrors" role="alert"></div>
      </form>
    </cart-items>
  </div>

  {%- # Summary -%}
  {%- liquid
    # Text Classes
    capture summary_text_color
      case section.settings.summary_text_color
        when 'dark'
          echo 'text-primary'
        when 'light'
          echo 'text-primary-inverse'
      endcase
    endcapture
  -%}

  <div
    class="relative lg:col-span-5 px-row lg:pl-gap py-9 lg:py-11 max-lg:w-full {{ summary_text_color }} js-cart-footer"
    style="background-color: {{ section.settings.summary_background_color }}"
    {% if cart == empty %}
      hidden
    {% endif %}
  >
    <div class="sticky top-[var(--header-height)]">
      <h2 class="mb-6 text-3xl font-extrabold leading-1 -tracking-2 font-heading">
        {{- 'sections.main_cart.totals.headings.summary' | t -}}
      </h2>

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {%- render block -%}

          {%- when 'subtotal' -%}
            <div class="flex flex-col mb-6 gap-y-2 text-md">
              <div class="flex flex-wrap justify-between gap-y-1" role="status">
                <p class="font-bold">{{- 'sections.main_cart.totals.headings.subtotal' | t -}}</p>
                <p class="font-bold">{{- cart.total_price | money -}}</p>

                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <ul
                    class="flex flex-col items-end w-full text-sm text-grey-20"
                    role="list"
                    aria-label="{{- 'sections.main_cart.totals.headings.discounts' | t -}}"
                  >
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="flex gap-x-1">
                        {%- render 'theme_icons' with 'discount' -%}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>

              {%- liquid
                assign tax = 'sections.main_cart.totals.text.taxes.not_included' | t
                assign shipping = 'sections.main_cart.totals.text.shipping' | t

                if cart.taxes_included
                  assign tax = 'sections.main_cart.totals.text.taxes.included' | t
                endif
              -%}

              <div class="flex justify-between">
                <p class="font-bold">{{- 'sections.main_cart.totals.headings.shipping' | t -}}</p>
                <p>{{- shipping -}}</p>
              </div>

              <div class="flex justify-between">
                <p class="font-bold">{{- 'sections.main_cart.totals.headings.tax' | t -}}</p>
                <p>{{- tax -}}</p>
              </div>
            </div>

            <hr class="mb-6 o-hr">

            <div class="flex justify-between mb-6 text-lg">
              <p class="font-bold">{{- 'sections.main_cart.totals.headings.total' | t -}}</p>
              <p class="font-bold">{{- cart.total_price | money -}}</p>
            </div>

            <hr class="mb-6 o-hr">

          {%- when 'buttons' -%}
            <div class="mb-6 {% if additional_checkout_buttons %}flex flex-col gap-2{% endif %}">
              <button
                type="submit"
                class="o-button o-button--{{ block.settings.checkout_button_style }} o-button--full"
                name="checkout"
                form="Cart-Form"
              >
                {{- 'sections.main_cart.checkout' | t -}}
              </button>

              {%- if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
            </div>

            <ul class="flex flex-wrap justify-center gap-2 mb-6 empty:mb-0">
              {%- for type in shop.enabled_payment_types -%}
                <li>
                  {{- type | payment_type_svg_tag: class: 'w-[27px] h-[17px]' -}}
                </li>
              {%- endfor -%}
            </ul>

          {%- when 'free_delivery' -%}
            <label class="flex flex-col mb-6 text-sm delivery-progress">
              {%- liquid
                assign remaining = settings.free_delivery_threshold | minus: cart.total_price
                if remaining > 0
                  assign remaining_money = remaining | money
                  assign label = 'global.cart.free_delivery.in_progress_html' | t: money: remaining_money
                else
                  assign label = 'global.cart.free_delivery.completed' | t
                endif
              -%}

              <span class="mb-2 text-center">{{ label }}</span>
              <progress max="{{ settings.free_delivery_threshold }}" value="{{ cart.total_price }}"></progress>
            </label>

          {%- when 'text' -%}
            <div class="text-center rte text-md">{{- block.settings.text -}}</div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
