{%- render 'section_spacing-and-color', section: section -%}

<div
  class="flex flex-col items-center justify-center min-h-screen-d-minus-header"
  id="MainPassword"
>
  <div class="pb-16">
    <h1 class="pb-4 text-6xl font-semibold text-center">
      {{- shop.name -}}
    </h1>

    <hr class="mb-8 o-hr">

    <h2 class="text-2xl pb-4 font-bold min-w-[300px] text-center">
      {{- 'sections.main_password.form_heading' | t -}}
    </h2>

    {%- if shop.password_message != blank -%}
      <p class="max-w-[400px] pb-6 text-md text-center">
        {{- shop.password_message -}}
      </p>
    {%- endif -%}

    {%- form 'storefront_password', class: 'form' -%}
      <ul class="form__fields">
        <li class="form__field">
          <label class="o-input{%- if form.errors %} o-input--error{%- endif -%}" data-field="input">
            <input
              type="password"
              name="password"
              id="Password"
              class="o-input__field"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder="{{ 'sections.main_password.form_password.placeholder' | t }}"
            >
            <span class="sr-only">{{- "sections.main_password.form_password.label" | t -}}</span>
          </label>
        </li>

        <li class="form__field">
          {%- if form.errors -%}
            <div
              class="flex items-center justify-center py-4 gap-x-2"
              role="status"
            >
              <span class="sr-only">{{- 'global.accessibility.error' | t -}}</span>
              {%- liquid
                render 'theme_icons' with 'error'
                echo 'sections.main_password.form_error' | t
              -%}
            </div>
          {%- endif -%}
        </li>
      </ul>

      <div class="form__buttons">
        <button
          class="flex gap-2 o-button o-button--{{ section.settings.login_button_style }}"
          type="submit"
        >
          {{- 'sections.main_password.form_submit' | t -}}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>
