{%- liquid
  assign webstring = '/?isWebView=true'
  assign markets = section.blocks | where: 'type', 'market'
  assign account_links = section.blocks | where: 'type', 'account'
-%}

{%- if request.design_mode -%}
  {%- unless section.settings.show_visualisation -%}
    {%- style -%}
      #shopify-section-{{ section.id }} {
        display: none;
      }
    {%- endstyle -%}
  {%- endunless -%}

  <article class="o-row shopify-section--ga4-pixel bg-grey-100 px-row py-12">
    <header class="section-header mb-2">
      <h2 class="mb-1 text-2xl font-bold leading-1 lg:text-3xl ">Shopper App</h2>
      <p class="text-md">This section is used to generate the settings needed for the Shopper App</p>
    </header>

    <div class="mb-4 overflow-hidden rounded-3 border border-solid border-grey-70 bg-white drop-shadow-lg">
      <table class="relative w-full">
        <tbody class="text-gray-600">
          <tr class="text-md">
            <td class="whitespace-nowrap px-3 py-1">
              <strong>Shopper settings url:</strong>
            </td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: '/pages/shopper-app/?view=shopper-settings' }}
            </td>
          </tr>
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">
              <strong>Shopper menu url:</strong>
            </td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: '/pages/shopper-app/?view=shopper-menu&isWebView=true' }}
            </td>
          </tr>
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">
              <strong>Shopper search url:</strong>
            </td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: '/pages/shopper-app/?view=shopper-search&isWebView=true' }}
            </td>
          </tr>
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">
              <strong>Shopper login url:</strong>
            </td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: '/pages/shopper-app/?view=shopper-login&isWebView=true' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-4 overflow-hidden rounded-3 border border-solid border-grey-70 bg-white drop-shadow-lg">
      <h3 class="px-3 py-2 text-lg font-medium leading-1 lg:text-xl ">Countries</h3>

      <table class="relative w-full">
        <thead class="border-t border-solid border-grey-80 bg-grey-90 text-md font-semibold text-grey-10">
          <tr>
            <th class="px-3 py-1 ">Country</th>
            <th class="px-3 py-1 ">Code</th>
            <th class="px-3 py-1 ">Url</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          {%- for market in markets -%}
            <tr class="border-t border-solid border-grey-80 text-md">
              <td class="whitespace-nowrap px-3 py-1">
                {{ market.settings.title }}
              </td>
              <td class="whitespace-nowrap px-3 py-1">
                {{ market.settings.code }}
              </td>
              <td class="whitespace-nowrap px-3 py-1">
                {{ market.settings.domain }}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>

    <div class="mb-4 overflow-hidden rounded-3 border border-solid border-grey-70 bg-white drop-shadow-lg">
      <h3 class="px-3 py-2 text-lg font-medium leading-1 lg:text-xl ">Swipe to like Collections</h3>

      <table class="relative w-full">
        <thead class="border-t border-solid border-grey-80 bg-grey-90 text-md font-semibold text-grey-10">
          <tr>
            <th class="px-3 py-1 ">Collection</th>
            <th class="px-3 py-1 ">ID</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          {%- for selected_collection in section.settings.swipe_to_like -%}
            <tr class="border-t border-solid border-grey-80 text-md">
              <td class="whitespace-nowrap px-3 py-1">
                {{ selected_collection.title }}
              </td>
              <td class="whitespace-nowrap px-3 py-1">
                {{ selected_collection.id | prepend: 'gid://shopify/Collection/' }}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>

    <div class="mb-4 overflow-hidden rounded-3 border border-solid border-grey-70 bg-white drop-shadow-lg">
      <h3 class="px-3 py-2 text-lg font-medium leading-1 lg:text-xl ">Account Links</h3>

      <table class="relative w-full">
        <thead class="border-t border-solid border-grey-80 bg-grey-90 text-md font-semibold text-grey-10">
          <tr>
            <th class="px-3 py-1 ">Title</th>
            <th class="px-3 py-1 ">Platform</th>
            <th class="px-3 py-1 ">Url</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.name | capitalize }}
            </td>
            <td class="whitespace-nowrap px-3 py-1">both</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: webstring }}
            </td>
          </tr>
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">My Account</td>
            <td class="whitespace-nowrap px-3 py-1">both</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: routes.account_url | append: webstring }}
            </td>
          </tr>
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">My Orders</td>
            <td class="whitespace-nowrap px-3 py-1">both</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: routes.account_url | append: '/orders' | append: webstring }}
            </td>
          </tr>
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">My Addresses</td>
            <td class="whitespace-nowrap px-3 py-1">both</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: routes.account_url | append: '/addresses' | append: webstring }}
            </td>
          </tr>

          {%- for link in account_links -%}
            <tr class="border-t border-solid border-grey-80 text-md">
              <td class="whitespace-nowrap px-3 py-1">
                {{ link.settings.title }}
              </td>
              <td class="whitespace-nowrap px-3 py-1">
                {{ link.settings.platform }}
              </td>
              <td class="whitespace-nowrap px-3 py-1">
                {{ link.settings.url | prepend: shop.secure_url }}
              </td>
            </tr>
          {%- endfor -%}

          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">appHomepageURL</td>
            <td class="whitespace-nowrap px-3 py-1">N/A</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ shop.secure_url | append: webstring }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-4 overflow-hidden rounded-3 border border-solid border-grey-70 bg-white drop-shadow-lg">
      <h3 class="px-3 py-2 text-lg font-medium leading-1 lg:text-xl">App Versions</h3>

      <table class="relative w-full">
        <thead class="border-t border-solid border-grey-80 bg-grey-90 text-md font-semibold text-grey-10">
          <tr>
            <th class="px-3 py-1 ">OS</th>
            <th class="px-3 py-1 ">Version</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">iOS</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ section.settings.ios_version }}
            </td>
          </tr>

          <tr class="border-t border-solid border-grey-80 text-md">
            <td class="whitespace-nowrap px-3 py-1">Android</td>
            <td class="whitespace-nowrap px-3 py-1">
              {{ section.settings.android_version }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
{%- endif -%}

{% comment %}
  ---------------------------------------------------------------------------
    Code needed for Other Pages
  ---------------------------------------------------------------------------
{% endcomment %}

{%- if template != 'page.shopper-settings' and request.design_mode == false -%}
  <div class="web-view-data hidden">
    <input
      type="hidden"
      id="webviewCartItemsCount"
      name="webviewCartItemsCount"
      value="{{ cart.item_count | json }}"
    >
    <input
      type="hidden"
      id="webviewWishlistItemsCount"
      name="webviewWishlistItemsCount"
      value="0"
    >
    {% comment %} Wish list ID {% endcomment %}
    <input
      type="hidden"
      id="guestProductListID"
      name="guestProductListID"
      value="0"
    >
  </div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('isWebView')) {
      hideElements();
      if ({{ request.path | json }} === "/account/register") {
        document.addEventListener('DOMContentLoaded', () => {
          document.querySelector('input[name=return_to]').value = "{{routes.account_url}}?view=shopper"
        });
      }
      if ({{ request.path | json }} === "/account/login") window.location.href = "/pages/shopper-app?isWebView=true&view=shopper-login";
    }

    function hideElements() {
      let selector = `{{ section.settings.hidden_selector }}`

      // Check Onboarding & Login screens
      const t = {{ template.suffix | json }};
      const onboardingHiddenElementsSelector = `{{ section.settings.onboarding_hidden_selector }}`;
      if (
        onboardingHiddenElementsSelector &&
        ["shopper-login", "shopper-location", "shopper-notifications"].includes({{ template.suffix | json }})
      ) {
          selector += "," + onboardingHiddenElementsSelector;
      }

      document.head.insertAdjacentHTML(
        'beforeEnd',
        `<style>
          ${selector} {
            display: none !important;
          }
        </style>`,
      );
    }
    const webViewPageInfo = JSON.stringify({
      pageType: '{{ template.name }}',
      headerType: 'text',
      headerText: '{{ page_title }}',
    });

    if (webViewPageInfo) {
      const webData = document.querySelector('.web-view-data');
      webData.insertAdjacentHTML(
        'beforeend',
        `
        <input
          type="hidden"
          id="headerDetails"
          name="headerDetails"
          value=${webViewPageInfo}
        >
        `,
      );
    }
  </script>

  {% case section.settings.wishlist_provider %}
    {% when 'smart_wishlist' %}
      {% render 'shopper_wishlist-sw' %}
    {% when 'wishlist_king' %}
      {% render 'shopper_wishlist-wk' %}
  {% endcase %}
{%- endif -%}

{% if template.suffix contains 'shopper-menu' %}
  {% render 'shopper_menu', menu: section.settings.main_menu %}
{% endif %}

{%- if template == 'page.shopper-settings' and request.design_mode == false -%}
  {% render 'shopper_settings' %}
{%- endif -%}
