{%- comment -%}
  -------------------------------------------------------------------------------
  Theme - SEO
  -------------------------------------------------------------------------------
  Usage
  {%- render 'theme_seo' -%}
  -------------------------------------------------------------------------------
  Description
  The theme's seo content.
{%- endcomment -%}

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}

{%- if shop.brand.square_logo != blank -%}
  <link rel="shortcut icon" type="image/png" href="{{ shop.brand.square_logo | image_url: width: 32, height: 32 }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ shop.brand.square_logo | image_url: width: 180, height: 180 }}">
{%- endif -%}

{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: request.origin
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.brand.short_description | default: shop.name
  assign og_image = page_image | default: shop.brand.cover_image

  if request.page_type == 'product'
    assign og_type = 'product'
    assign og_image = product.featured_image
  elsif request.page_type == 'article'
    assign og_type = 'article'
    assign og_image = article.image
  elsif request.page_type == 'password'
    assign og_url = request.origin
  endif
%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title | escape }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description | escape }}">

{%- if og_image -%}
  <meta property="og:image" content="http:{{ og_image | image_url }}">
  <meta property="og:image:secure_url" content="https:{{ og_image | image_url }}">
  <meta property="og:image:width" content="{{ og_image.width }}">
  <meta property="og:image:height" content="{{ og_image.height }}">
{%- endif -%}

{%- if request.page_type == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
{%- endif -%}

{%- # TODO: This will likely need to be changed to 'X' at some point. -%}
{%- if shop.brand.metafields.social_links.twitter -%}
  <meta
    name="twitter:site"
    content="{{ shop.brand.metafields.social_links.twitter.value | split: 'twitter.com/' | last | prepend: '@' }}"
  >
{%- endif -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title | escape }}">
<meta name="twitter:description" content="{{ og_description | escape }}">

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if shop.brand.logo -%}
      "logo": {{ shop.brand.logo | image_url: width: shop.brand.logo.width | prepend: "https:" | json }},
    {% endif -%}
    "sameAs": [
      {%- for social_link in shop.brand.metafields.social_links -%}
        {{ social_link[1].value | json }}{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{%- if request.page_type == 'article' -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "articleBody": {{ article.content | strip_html | json }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ request.origin | append: page.url | json }}
      },
      "headline": {{ article.title | json }},
      {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
      {% endif %}
      {% if article.image %}
        "image": [
          {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
        ],
      {% endif %}
      "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
      "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
      "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
      },
      "publisher": {
        "@type": "Organization",
        {% if settings.share_image %}
          "logo": {
            "@type": "ImageObject",
            "height": {{ settings.share_image.height | json }},
            "url": {{ settings.share_image | image_url: width: settings.share_image.width | prepend: "https:" | json }},
            "width": {{ settings.share_image.width | json }}
          },
        {% endif %}
        "name": {{ shop.name | json }}
      }
    }
  </script>
{%- elsif request.page_type == 'product' -%}
  {%- assign seo_media = product.selected_or_first_available_variant.featured_media
    | default: product.featured_media
  -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
{%- endif -%}
