<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://shop.app" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- liquid
      # theme-check-disable
      echo content_for_header
      # theme-check-enable

      render 'theme_head'
      render 'theme_seo'

      echo settings.head_scripts

      if request.design_mode == false
        # Product stickers styles
        capture stickers_html
          section 'product-stickers'
        endcapture
        assign stickers_html = stickers_html | split: '<!-- | -->'
        echo stickers_html[1] | strip_newlines

        # Product swatches styles
        capture swatches_html
          section 'product-swatches'
        endcapture
        assign swatches_html = swatches_html | split: '<!-- | -->'
        echo swatches_html[1] | strip_newlines
      endif

      # Template Classes
      capture template_class
        assign template_name = template.name | prepend: 'template-'

        if template.suffix != blank
          assign template_name = template_name | append: '-' | append: template.suffix
        endif

        echo template_name
      endcapture

      # Include webpack import map
      render 'theme_assets', import_map: true

      # Include webpack main entrypoints
      render 'theme_assets' with 'main.min.js', preload: true, is_module: false
      render 'theme_assets' with 'main.min.css', preload: true
    -%}
  </head>

  <body
    class="{{ template_class }}"
    itemtype="http://schema.org/WebPage"
    itemscope
    {% if request.design_mode %}
      data-is-design-mode
    {% endif %}
  >
    <a class="sr-only" href="#MainContent">{{ 'global.accessibility.skip_to_text' | t }}</a>

    {%- liquid
      # Shopper app utils
      if settings.shopper_enabled
        section 'shopper-settings'
      endif
    -%}

    <header class="header-group js-header-group">
      {%- sections 'header-group' -%}
    </header>

    {%- liquid
      # Utilities
      if request.design_mode and 'product, collection' contains request.page_type
        section 'product-stickers'
        section 'product-swatches'
      endif
    -%}

    <main
      id="MainContent"
      tabindex="-1"
    >
      {{ content_for_layout }}
    </main>

    <footer class="footer-group js-footer-group">
      {%- sections 'footer-group' -%}
    </footer>

    <aside class="dialog-group">
      {%- sections 'dialog-group' -%}
    </aside>

    <ul hidden>
      <li id="a11y-refresh-page-message">{{- 'global.accessibility.refresh_page' | t -}}</li>
    </ul>
    {{- settings.body_scripts -}}
  </body>
</html>
