{%- comment -%}
  -------------------------------------------------------------------------------
  Facets - List (Disclosure Element)
  -------------------------------------------------------------------------------
  Accepts
  - filter: {Object} (required)
  - index: {Integer} (required)
  - input_scope: {String} used with the Facets.js file, this declares whether
  the input should be active on mobile or on desktop, possible values are
  limited to 'desktop' or 'mobile' (required).
  - start_open: {Boolean} - forces the facets to be open on load (optional)
  - form_id: {String} - attatches every input to an external form (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'facets_list-disclosure',
  filter: filter,
  index: index,
  input_scope: 'input_scope',
  start_open: start_open,
  form_id: 'form'
  -%}
  -------------------------------------------------------------------------------
  Description
  Displays list filters on the collection and search templates.
{%- endcomment -%}

{%- liquid
  assign filter = filter
  assign index = index
  assign label = filter.label
  assign label_standardised = filter.label | handleize
  assign start_open = start_open
  assign form_id = form_id
  assign input_scope = input_scope | default: 'desktop'
  assign input_js_class = input_js_class | default: 'js-facet-input-' | append: input_scope

  # Label translation assignment for 'product type' filters as clients usually want to rename this.
  if label_standardised == 'Product type'
    assign label = 'snippets.facets.list_disclosure.titles.product_type' | t
  endif

  # Attribute to force the details/summary els to be open on load.
  capture start_open_attr
    if start_open
      echo 'open'
    endif
  endcapture
-%}

<details
  class="js-facet-dropdown relative"
  data-index="{{ index }}"
  {{ start_open_attr }}
>
  <summary class="flex cursor-pointer items-center gap-2 max-lg:justify-between">
    <p class="select-none text-sm font-bold transition-opacity hover:opacity-60">
      {{- label -}}
    </p>

    {%- render 'theme_icons' with 'chevron-down', width: 16, height: 16, class: 'stroke-current' -%}
  </summary>

  <div
    class="lg:up-arrow lg:absolute lg:left-1/2 lg:top-8 lg:z-10 lg:w-fit lg:min-w-18 lg:-translate-x-1/2 lg:rounded-2 lg:bg-section-bg lg:shadow-2"
    style="--arrow-color: var(--bg)"
  >
    <header class="flex select-none items-center justify-between border-b border-solid border-border-light py-4 text-sm lg:px-5 lg:text-md">
      <p>
        {%- liquid
          if filter.active_values.size != blank
            echo 'snippets.facets.list_disclosure.filters_selected.one' | t: count: filter.active_values.size
          elsif filter.active_values.size > 1
            echo 'snippets.facets.list_disclosure.filters_selected.other' | t: count: filter.active_values.size
          endif
        -%}
      </p>

      {%- liquid
        assign has_active_facet = false

        for value in filter.values
          if value.active
            assign has_active_facet = true
            break
          endif
        endfor
      -%}

      {%- if has_active_facet -%}
        <a class="js-facet-remove underline underline-offset-4 hover:no-underline" href="{{ filter.url_to_remove }}">
          {{- 'snippets.facets.list_disclosure.reset' | t -}}
        </a>
      {%- endif -%}
    </header>

    <ul class="grid grid-cols-2 gap-3 py-5 lg:max-h-18 lg:overflow-auto lg:px-5">
      {%- for value in filter.values -%}
        {%- liquid
          # Split here for tag values which are usually prepended by some text we don't want to see.
          assign label_value = value.label | split: '_' | last
          assign label_value_standardised = label_value | handleize

          if label_standardised == 'color' or label_standardised == 'colour'
            assign is_color_swatch = true
          endif

          capture cursor_class
            if value.count == 0 and value.active == false
              echo 'cursor-not-allowed'
            endif
          endcapture

          capture status_classes
            if value.count == 0 and value.active == false
              # If it should be disabled...
              echo 'o-input--disabled'
            else
              # If it should be active...
              echo 'group-hover:border-highlight'
            endif
          endcapture

          capture color_swatch_input_class
            if label_standardised contains 'color' or label_standardised contains 'colour'
              echo 'o-input--swatch'

              if value.active
                echo 'is-active'
              endif
            endif
          endcapture
        -%}

        <li class="group cursor-pointer">
          <div class="flex w-full flex-col justify-center {{ cursor_class }}">
            <label class="o-input o-input--wrap {{ color_swatch_input_class }} {{ status_classes }}">
              {%- capture input -%}
                <input
                  class="o-input__checkbox {{ input_js_class }}"
                  type="checkbox"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  id="{{ value.param_name }}-{{ value.value }}-{{ index }}-{{ form_id }}"
                  data-facets-identifier="{{ value.param_name }}-{{ value.value }}-{{ index }}"
                  {% if value.active %}
                  checked
                  {% endif %}
                  {% if form_id != blank %}
                  form="{{ form_id }}"
                  {% endif %}
                >
              {%- endcapture -%}

              {%- if is_color_swatch -%}
                <div
                  class="o-input__color"
                  data-swatch="{{ label_value_standardised | handleize | replace: '-', '_' }}"
                  {%- liquid
                    # Try converting color value to CSS hex, results in valid color or null
                    assign swatch_css_color = label_value_standardised | color_to_hex
                    if swatch_css_color != null
                      echo 'style="--_fallback: linear-gradient([hex],[hex])"' | replace: '[hex]', swatch_css_color
                    endif
                  -%}
                ></div>

                <span class="select-none text-sm">
                  {{- label_value -}}
                </span>

                {{- input | replace: 'class="', 'class="hidden ' -}}
              {%- else -%}
                {{- input -}}

                <span class="select-none text-sm">
                  {{- label_value -}}
                </span>
              {%- endif -%}
            </label>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</details>
