{%- comment -%}
  -------------------------------------------------------------------------------
  Card - Article
  -------------------------------------------------------------------------------
  Accepts
  - article: {Object} Article object (required)
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default (optional)
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default (optional)
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default (optional)
  - show_excerpt: {String} The setting either show the article excerpt or not. (optional)
  - show_badge: {String} The setting either show the article tag badge or not. (optional)
  - aspect_ratio: {String} The desired image aspect ratio (optional)
  - img_class: {String} Any additional classes to add to the article images (optional)
  - preload: {Boolean} Image should be preloaded. Default: false (optional)
  -------------------------------------------------------------------------------
  Usage
  {%- render 'card_article',
    article: article,
    show_image: true,
    show_date: true,
    show_author: true,
    show_excerpt: true,
    show_badge: true,
    aspect_ratio: '1 / 1',
    img_class: 'group'
    preload: false
  -%}
  -------------------------------------------------------------------------------
  Description
  Renders an article card for a provided article object.
{%- endcomment -%}

{%- liquid
  assign class = class
  assign is_large = is_large

  # Visibility
  assign show_image = show_image
  assign show_author = show_author
  assign show_date = show_date
  assign show_excerpt = show_excerpt
  assign show_badge = show_badge

  # Image
  assign aspect_ratio = aspect_ratio
  assign img_class = img_class
  assign preload = preload
-%}

{%- if article and article != empty -%}
  <div class="card group {% if is_large %} gap-auto lg:grid lg:grid-cols-2{% endif %} {{ class }} relative">
    <a
      class="absolute inset-0"
      href="{{ article.url }}"
      aria-hidden="true"
      tabindex="-1"
    ></a>

    {%- liquid
      if show_image
        render 'object_image' with article.image, preload: preload, img_class: img_class, aspect: aspect_ratio
      endif
    -%}

    <div class="flex-grow{% if is_large %} lg:p-9 xl:p-13 lg:flex lg:items-center lg:justify-center{% endif %}">
      <div class="flex flex-col justify-center h-full">
        <div class="mb-4 text-xs uppercase tracking-2 lg:mb-6 empty:hidden">
          {%- if show_author -%}
            {{- 'snippets.card.article.author_lead_in' | t -}}
            &nbsp;
            <span>{{- article.author -}}</span>
            &nbsp;
          {%- endif -%}

          {%- if show_date -%}
            <span>
              {{- 'snippets.card.article.published_lead_in' | t -}}
              &nbsp;
              {{- article.published_at | time_tag: format: 'date' -}}
            </span>
          {%- endif -%}
        </div>

        <h3 class="mb-2 text-4xl font-extrabold -tracking-2 leading-1 font-heading lg:mb-4 group-hover:underline">
          <a href="{{ article.url }}" class="line-clamp-2">
            {{- article.title | escape -}}
          </a>
        </h3>

        {%- if show_excerpt -%}
          {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
            <p class="mb-4 text-section-secondary lg:text-lg line-clamp-3 lg:mb-6">
              {{- article.excerpt | default: article.content | strip_html | truncatewords: 30 -}}
            </p>
          {%- endif -%}
        {%- endif -%}

        {%- if show_badge -%}
          <ul class="flex flex-wrap gap-2{% unless is_large %} mt-auto{% endunless %}">
            {%- for tag in article.tags -%}
              <li class="px-2 py-px text-sm font-bold list-none bg-border-light rounded-1 text-primary">{{- tag -}}</li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
